spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/deep2000
    username: ADMIN
    password: ADMIN

  jpa:
#    hibernate:
#      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always
